<<<<<<< HEAD



{{outlet}}
{{search-form plantLookup="plantLookup"}}
<!-- <div class="row">
  <div class="col-md-4">
asdkl mclkajecfnaj
  </div>
  <div class="col-md-4">
kd akla jflsa
  </div>
  <div class="col-md-4 weather">
    {{weather-search weatherLookup="weatherLookup"}}
  </div> -->
  <ul>
    {{#each model as |plant|}}
      {{plant-tile plant=plant}}
      {{/each}}
  </ul>

  Shariff Mohammed [4:23 PM]
<!-- </div> -->
=======
{{outlet}}
{{search-form plantLookup="plantLookup"}}
<div class="jumbotron">
  <h1>AGRIBIZ 101</h1>
  <button class="btn btn-success">=vv</button>
</div>
<h3>Welcome to agribiz 101, we'll help transform your produce to the best there is</h3>
<ul>
  {{#each model as |plant|}}
    {{plant-tile plant=plant}}
    {{/each}}
</ul>
>>>>>>> e9efdf5678cf68a12dfe841224bae71b0c63b86d
